<div style="text-align:left">
	A&ntilde;adir comentario: <p>
</div>

<form method="post" action="/quizes/<%=quizid%>/comments/" style="text-align:left">      
  <input type="text" id="comment" name="comment[texto]" value=""/> <p>
  <button type="submit">Enviar</button>
</form>
