<form method="get" action="/quizes/<%= quiz.id %>/answer" style="text-align:left">        
  Pregunta: <%= quiz.pregunta %> </br>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>